-sandbox

<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="https://databricks.com/wp-content/uploads/2018/03/db-academy-rgb-1200px.png" alt="Databricks Learning" style="width: 600px">
</div>

# Pandas Lab

In this lab, you will use [pandas](https://pandas.pydata.org/docs/) for basic data manipulation.

Create a DataFrame called `df` with 3 columns and 3 rows with integers like in the following image. It should also have the appropriate column names.

![DataFrame](https://files.training.databricks.com/images/create_dataframe.png)

In [0]:
# TODO
import pandas as pd
one = [1,4,7]
two = [2,5,8]
three = [3,6,9]
df = pd.DataFrame()
df["one"]=one
df["two"]=two
df["three"]=three
print(df)

   one  two  three
0    1    2      3
1    4    5      6
2    7    8      9

Display a DataFrame that only has the column `three`.

In [0]:
# TODO
df[["three"]]

,three
0,3
1,6
2,9

Return a Series (not DataFrame) object which just contains the values from the column `three`.

In [0]:
# TODO
df["three"]

Out[4]: 0    3
1    6
2    9
Name: three, dtype: int64

Programmatically extract the number `5` from `df`. Which column and row do you need to access?

In [0]:
# TODO
df["two"][1]

Out[5]: 5

Add a new column called `row sum` to `df` which contains the sum of entries across each row in `df`.

In [0]:
# TODO

  
df["row sum"] = df["one"] + df["two"]+df["three"]
display(df)

one,two,three,row sum
1,2,3,6
4,5,6,15
7,8,9,24

-sandbox
&copy; 2020 Databricks, Inc. All rights reserved.<br/>
Apache, Apache Spark, Spark and the Spark logo are trademarks of the <a href="http://www.apache.org/">Apache Software Foundation</a>.<br/>
<br/>
<a href="https://databricks.com/privacy-policy">Privacy Policy</a> | <a href="https://databricks.com/terms-of-use">Terms of Use</a> | <a href="http://help.databricks.com/">Support</a>